<h1>Electricity Board Application Forms</h1>

<div style="display: block; width: 500px" >
  <canvas baseChart
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          ></canvas>
</div>
<div style="margin: 30px">
  <h6> Search By Id Number </h6>
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Search by Id Number"
  />
 <br>
 <h6> Search By From/To Date </h6>
 <strong>From Date</strong>
 <input
 type="date"
 [(ngModel)]="fromDate"
/>
<strong>To Date</strong>
  <input
    type="date"
    [(ngModel)]="toDate"
  />
  <br>

  <button (click)="clearData()"> Reset</button>
  <button data-bs-toggle="modal" data-bs-target="#exampleModal1" >
    Add
   </button>
</div>

<app-addcomponent></app-addcomponent>
  


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">IDNumber</th>
      <th scope="col">ApplicationName</th>
      <th scope="col">Gender</th>
      <th scope="col">District</th>
      <th scope="col">State</th>
      <th scope="col">Pincode</th>
      <th scope="col">Ownership</th>
      <th scope="col">GovernmentId</th>
      <th scope="col">Category</th>
      <th scope="col">Load Applied</th>
      <th scope="col">ApplicationDate</th>
      <th scope="col">DateOfApproval</th>
      <th scope="col">ModifiedDate</th>
      <th scope="col">Status</th>
      <th scope="col">ReviewerId</th>
      <th scope="col">ReviewerName</th>
      <th scope="col">ReviewerComments</th>
      <th scope="col">Edit</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getCompleteData | filter:searchText  | dateRangeFilter:fromDate : toDate; let i = index">
      <td>{{i+1}}</td>
      <td>{{item?.idNumber}}</td>
      <td>{{item?.applicantName}}</td>
      <td>{{item?.gender}}</td>
      <td>{{item?.district}}</td>
      <td>{{item?.state}}</td>
      <td>{{item?.pincode}}</td>
      <td>{{item?.ownership}}</td>
      <td>{{item?.govtId}}</td>
      <td>{{item?.category}}</td>
      <td>{{item?.load_applied}}</td>
      <td>{{item?.dateOfApplication}}</td>
      <td>{{item.dateOfApproval === 'null' ?  '-' :  item.dateOfApproval}}</td>
      <td>{{item?.modifiedDate}}</td>
      <td>{{item?.status}}</td>
      <td>{{item?.reveiwerId}}</td>
      <td>{{item?.reveiwerName}}</td>
      <td>{{item?.reviewercomments}}</td>
      <td>
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="patchValue(item)" >
         Edit
        </button>
      </td>
    </tr>
    
  </tbody>
</table>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Records</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="editBcgForm">
        <div class="modal-body">
          <label for="applicantName">applicantName</label><br>
          <input type="text" formControlName="applicantName" name="applicantName">
          <br>
          <label for="status">status</label><br>
          <input type="text" formControlName="status" name="status">
          <br>
          <label for="idNumber">idNumber</label><br>
          <input type="text" formControlName="idNumber" readonly name="idNumber">
          <br>
          <label for="dateOfApplication">dateOfApplication</label><br>
          <input type="text"  formControlName="dateOfApplication" readonly name="dateOfApplication">
          <br>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateData()">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Records</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="addBcgForm">
        <div class="modal-body">
          <label for="applicantName">applicantName</label><br>
          <input type="text" formControlName="applicantName" name="applicantName">
          <br>
          <label for="status">status</label><br>
          <input type="text" formControlName="status" name="status">
          <br>
          <label for="idNumber">idNumber</label><br>
          <input type="number" formControlName="idNumber" name="idNumber" readonly>
          <br>
          <label for="dateOfApplication">dateOfApplication</label><br>
          <input type="date" formControlName="dateOfApplication" name="dateOfApplication">
          <br>
          <label for="gender">gender</label><br>
          <input type="text" formControlName="gender" name="gender">
          <br>
          <label for="district">district</label><br>
          <input type="text" formControlName="district" name="district">
          <br>
          <label for="pincode">pincode</label><br>
          <input type="number" formControlName="pincode" name="pincode">
          <br>
          <label for="ownership">ownership</label><br>
          <input type="text" formControlName="ownership" name="ownership">
          <br>
          <label for="state">state</label><br>
          <input type="text" formControlName="state" name="state">
          <br>
          <label for="govtId">govtId</label><br>
          <input type="text" formControlName="govtId" name="govtId">
          <br>
          <label for="reveiwerId">reveiwerId</label><br>
          <input type="number" formControlName="reveiwerId" name="reveiwerId" >
          <br>
          <label for="reveiwerName">reveiwerName</label><br>
          <input type="text" formControlName="reveiwerName" name="reveiwerName">
          <br>
          <label for="reviewercomments">reviewercomments</label><br>
          <input type="text" formControlName="reviewercomments" name="reviewercomments">
          <br>
          <label for="load_applied">load_applied</label><br>
          <input type="number" formControlName="load_applied" name="load_applied">
          <br>
          <div *ngIf="addBcgForm.get('load_applied').hasError('max')">Value must be less than or equal to 200</div>
          <br>
          <label for="category">category</label><br>
          <input type="text" formControlName="category" name="category">
          <br>
          <label for="modifiedDate">modifiedDate</label><br>
          <input type="date" formControlName="modifiedDate" name="modifiedDate">
          <br>
          <label for="dateOfApproval">dateOfApproval</label><br>
          <input type="date" formControlName="dateOfApproval" name="dateOfApproval">
          <br>
          

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addData()">Save changes </button>
      </div>
      </form>
    </div>
  </div>
</div>


